body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u668 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u669 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:667px;
}
#u670 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:10px;
  top:100px;
  width:350px;
  height:50px;
  overflow:hidden;
}
#u671_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u671_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u672 {
  position:absolute;
  left:330px;
  top:190px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u672_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u673 {
  position:absolute;
  left:330px;
  top:260px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u673_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u673_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u674 {
  position:absolute;
  left:330px;
  top:342px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u674_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u674_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u675 {
  position:absolute;
  left:330px;
  top:415px;
  width:30px;
  height:30px;
  overflow:hidden;
}
#u675_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u675_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u676 {
  position:absolute;
  left:10px;
  top:610px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u676_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u676_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u677 {
  position:absolute;
  left:458px;
  top:610px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u677_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u677_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:10px;
  top:60px;
  width:40px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:458px;
  top:60px;
  width:40px;
  height:30px;
}
#u681 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
