body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21816 {
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:593px;
}
#u21817 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21820 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u21821 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u21823 {
  position:absolute;
  left:32px;
  top:36px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u21824 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u21825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u21825 {
  position:absolute;
  left:15px;
  top:36px;
  width:11px;
  height:19px;
}
#u21826 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u21827 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u21828 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u21829 {
  position:absolute;
  left:152px;
  top:35px;
  width:41px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u21830 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u21831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21831 {
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:43px;
}
#u21832 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21834 {
  position:absolute;
  left:1px;
  top:73px;
  width:375px;
  height:44px;
}
#u21835 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21836 {
  position:absolute;
  left:10px;
  top:81px;
  width:357px;
  height:28px;
}
#u21837 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21838 {
  position:absolute;
  left:17px;
  top:88px;
  width:14px;
  height:14px;
}
#u21839 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u21840 {
  position:absolute;
  left:35px;
  top:85px;
  width:110px;
  height:22px;
  color:#BABABA;
}
#u21841 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u21842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u21842 {
  position:absolute;
  left:400px;
  top:68px;
  width:121px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u21843 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u21844 {
  position:absolute;
  left:402px;
  top:112px;
  width:310px;
  height:26px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u21845 {
  position:absolute;
  left:8px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
#u21846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21846 {
  position:absolute;
  left:730px;
  top:74px;
  width:375px;
  height:593px;
}
#u21847 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21850 {
  position:absolute;
  left:730px;
  top:0px;
  width:375px;
  height:75px;
}
#u21851 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u21853 {
  position:absolute;
  left:762px;
  top:36px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u21854 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u21855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u21855 {
  position:absolute;
  left:745px;
  top:36px;
  width:11px;
  height:19px;
}
#u21856 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u21857 {
  position:absolute;
  left:740px;
  top:8px;
  width:360px;
  height:11px;
}
#u21858 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u21859 {
  position:absolute;
  left:882px;
  top:35px;
  width:77px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u21860 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u21861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21861 {
  position:absolute;
  left:730px;
  top:74px;
  width:375px;
  height:43px;
}
#u21862 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21864 {
  position:absolute;
  left:731px;
  top:73px;
  width:375px;
  height:44px;
}
#u21865 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21866 {
  position:absolute;
  left:740px;
  top:81px;
  width:357px;
  height:28px;
}
#u21867 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u21868 {
  position:absolute;
  left:747px;
  top:88px;
  width:14px;
  height:14px;
}
#u21869 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u21870 {
  position:absolute;
  left:765px;
  top:85px;
  width:35px;
  height:22px;
  color:#BABABA;
}
#u21871 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u21872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u21872 {
  position:absolute;
  left:1130px;
  top:68px;
  width:121px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u21873 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
}
#u21874 {
  position:absolute;
  left:730px;
  top:120px;
  width:373px;
  height:80px;
}
#u21875 {
  position:absolute;
  left:2px;
  top:32px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21876 {
  position:absolute;
  left:838px;
  top:163px;
  width:29px;
  height:16px;
}
#u21877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u21878 {
  position:absolute;
  left:1028px;
  top:163px;
  width:59px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u21879 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u21880 {
  position:absolute;
  left:899px;
  top:163px;
  width:33px;
  height:16px;
  font-size:14px;
}
#u21881 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u21882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21882 {
  position:absolute;
  left:866px;
  top:155px;
  width:32px;
  height:32px;
}
#u21883 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21884 {
  position:absolute;
  left:780px;
  top:162px;
  width:58px;
  height:16px;
}
#u21885 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u21886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u21886 {
  position:absolute;
  left:741px;
  top:153px;
  width:35px;
  height:35px;
}
#u21887 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u21888 {
  position:absolute;
  left:730px;
  top:151px;
  width:373px;
  height:1px;
}
#u21889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21890 {
  position:absolute;
  left:743px;
  top:125px;
  width:53px;
  height:16px;
  color:#797979;
}
#u21891 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u21892 {
  position:absolute;
  left:1130px;
  top:103px;
  width:310px;
  height:26px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u21893 {
  position:absolute;
  left:8px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
