body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  position:absolute;
  left:19px;
  top:113px;
  width:338px;
  height:141px;
}
#u191 {
  position:absolute;
  left:2px;
  top:62px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:18px;
  top:271px;
  width:339px;
  height:137px;
}
#u193 {
  position:absolute;
  left:2px;
  top:60px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u195 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:39px;
  top:206px;
  width:60px;
  height:68px;
  overflow:hidden;
}
#u196_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u196_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u197 {
  position:absolute;
  left:158px;
  top:206px;
  width:60px;
  height:68px;
  overflow:hidden;
}
#u197_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u197_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198 {
  position:absolute;
  left:274px;
  top:206px;
  width:60px;
  height:68px;
  overflow:hidden;
}
#u198_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u198_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u199 {
  position:absolute;
  left:31px;
  top:293px;
  width:317px;
  height:41px;
  overflow:hidden;
}
#u199_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200 {
  position:absolute;
  left:292px;
  top:380px;
  width:56px;
  height:50px;
  overflow:hidden;
}
#u200_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201 {
  position:absolute;
  left:302px;
  top:473px;
  width:46px;
  height:27px;
  overflow:hidden;
}
#u201_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u201_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u202 {
  position:absolute;
  left:17px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u202_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203 {
  position:absolute;
  left:90px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u203_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u203_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u204 {
  position:absolute;
  left:170px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u204_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u204_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u205 {
  position:absolute;
  left:243px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u205_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206 {
  position:absolute;
  left:317px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u207 {
  position:absolute;
  left:420px;
  top:241px;
  width:184px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u208 {
  position:absolute;
  left:8px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u209 {
  position:absolute;
  left:420px;
  top:324px;
  width:184px;
  height:80px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u210 {
  position:absolute;
  left:8px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:18px;
  top:195px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF3399;
}
#u213 {
  position:absolute;
  left:420px;
  top:295px;
  width:90px;
  height:19px;
  font-size:16px;
  color:#FF3399;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
}
#u215 {
  position:absolute;
  left:420px;
  top:220px;
  width:90px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
  line-height:18px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u217 {
  position:absolute;
  left:416px;
  top:168px;
  width:244px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u218 {
  position:absolute;
  left:8px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
}
#u219 {
  position:absolute;
  left:416px;
  top:140px;
  width:90px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
  line-height:18px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u221 {
  position:absolute;
  left:416px;
  top:72px;
  width:244px;
  height:26px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u222 {
  position:absolute;
  left:8px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
}
#u223 {
  position:absolute;
  left:416px;
  top:44px;
  width:90px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
  line-height:18px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u225 {
  position:absolute;
  left:18px;
  top:295px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u226 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u227 {
  position:absolute;
  left:18px;
  top:350px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u229 {
  position:absolute;
  left:15px;
  top:479px;
  width:20px;
  height:20px;
  color:#FF3399;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
