body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u682 {
  position:absolute;
  left:138px;
  top:224px;
  width:750px;
  height:1334px;
}
#u683 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u684 {
  position:absolute;
  left:94px;
  top:219px;
  width:750px;
  height:1334px;
}
#u685 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
