body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:853px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:853px;
}
#u520 {
  position:absolute;
  left:2px;
  top:418px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521 {
  position:absolute;
  left:2px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u521_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u521_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
