body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u442 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  position:absolute;
  left:6px;
  top:610px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u443_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u443_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u444 {
  position:absolute;
  left:8px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u444_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u444_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u445 {
  position:absolute;
  left:12px;
  top:352px;
  width:348px;
  height:40px;
  overflow:hidden;
}
#u445_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u445_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u446 {
  position:absolute;
  left:12px;
  top:402px;
  width:340px;
  height:40px;
  overflow:hidden;
}
#u446_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u446_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u447 {
  position:absolute;
  left:20px;
  top:523px;
  width:340px;
  height:40px;
  overflow:hidden;
}
#u447_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u447_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u448 {
  position:absolute;
  left:322px;
  top:200px;
  width:30px;
  height:110px;
  overflow:hidden;
}
#u448_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u448_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u449 {
  position:absolute;
  left:18px;
  top:462px;
  width:340px;
  height:40px;
  overflow:hidden;
}
#u449_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u449_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
