body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:553px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7256 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:553px;
}
#u7257 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7261 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u7262 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u7264 {
  position:absolute;
  left:32px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u7265 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u7266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u7266 {
  position:absolute;
  left:15px;
  top:34px;
  width:11px;
  height:16px;
}
#u7267 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u7268 {
  position:absolute;
  left:144px;
  top:29px;
  width:85px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u7269 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u7270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7270 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u7271 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 178, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7273 {
  position:absolute;
  left:2px;
  top:617px;
  width:372px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7274 {
  position:absolute;
  left:2px;
  top:16px;
  width:368px;
  word-wrap:break-word;
}
#u7275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7275 {
  position:absolute;
  left:0px;
  top:116px;
  width:375px;
  height:110px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:47px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7278 {
  position:absolute;
  left:10px;
  top:198px;
  width:29px;
  height:16px;
}
#u7279 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7280 {
  position:absolute;
  left:60px;
  top:198px;
  width:89px;
  height:16px;
}
#u7281 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7282 {
  position:absolute;
  left:10px;
  top:148px;
  width:219px;
  height:19px;
  font-size:16px;
}
#u7283 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u7284 {
  position:absolute;
  left:318px;
  top:142px;
  width:1px;
  height:60px;
  color:#CCCCCC;
}
#u7285 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3D84FA;
}
#u7287 {
  position:absolute;
  left:331px;
  top:172px;
  width:29px;
  height:16px;
  color:#3D84FA;
}
#u7288 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7289 {
  position:absolute;
  left:333px;
  top:150px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7290 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7291 {
  position:absolute;
  left:10px;
  top:124px;
  width:150px;
  height:17px;
}
#u7292 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u7293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7293 {
  position:absolute;
  left:3px;
  top:173px;
  width:164px;
  height:19px;
  font-size:16px;
}
#u7294 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u7295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7295 {
  position:absolute;
  left:-5px;
  top:233px;
  width:375px;
  height:110px;
}
#u7296 {
  position:absolute;
  left:2px;
  top:47px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7298 {
  position:absolute;
  left:10px;
  top:315px;
  width:29px;
  height:17px;
}
#u7299 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7300 {
  position:absolute;
  left:60px;
  top:315px;
  width:89px;
  height:16px;
}
#u7301 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7302 {
  position:absolute;
  left:10px;
  top:265px;
  width:293px;
  height:19px;
  font-size:16px;
}
#u7303 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u7304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u7304 {
  position:absolute;
  left:313px;
  top:259px;
  width:1px;
  height:60px;
  color:#CCCCCC;
}
#u7305 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3D84FA;
}
#u7307 {
  position:absolute;
  left:326px;
  top:289px;
  width:29px;
  height:16px;
  color:#3D84FA;
}
#u7308 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7309 {
  position:absolute;
  left:328px;
  top:267px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7310 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7311 {
  position:absolute;
  left:10px;
  top:241px;
  width:136px;
  height:17px;
}
#u7312 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u7313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7313 {
  position:absolute;
  left:13px;
  top:290px;
  width:164px;
  height:19px;
  font-size:16px;
}
#u7314 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u7315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u7315 {
  position:absolute;
  left:3px;
  top:358px;
  width:367px;
  height:80px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u7316 {
  position:absolute;
  left:8px;
  top:4px;
  width:359px;
  word-wrap:break-word;
}
#u7317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7317 {
  position:absolute;
  left:167px;
  top:122px;
  width:40px;
  height:20px;
  color:#FFFFFF;
}
#u7318 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u7319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:553px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7319 {
  position:absolute;
  left:451px;
  top:64px;
  width:375px;
  height:553px;
}
#u7320 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7323 {
  position:absolute;
  left:451px;
  top:0px;
  width:375px;
  height:64px;
}
#u7324 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u7326 {
  position:absolute;
  left:483px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u7327 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u7328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u7328 {
  position:absolute;
  left:466px;
  top:34px;
  width:11px;
  height:16px;
}
#u7329 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u7330 {
  position:absolute;
  left:595px;
  top:29px;
  width:85px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u7331 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u7332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7332 {
  position:absolute;
  left:461px;
  top:8px;
  width:360px;
  height:11px;
}
#u7333 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 178, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7335 {
  position:absolute;
  left:453px;
  top:617px;
  width:372px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u7336 {
  position:absolute;
  left:2px;
  top:16px;
  width:368px;
  word-wrap:break-word;
}
#u7337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7337 {
  position:absolute;
  left:575px;
  top:137px;
  width:100px;
  height:100px;
}
#u7338 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u7339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7339 {
  position:absolute;
  left:575px;
  top:267px;
  width:101px;
  height:26px;
  text-align:center;
}
#u7340 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u7341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7342 {
  position:absolute;
  left:1px;
  top:73px;
  width:375px;
  height:44px;
}
#u7343 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7344 {
  position:absolute;
  left:10px;
  top:81px;
  width:357px;
  height:28px;
}
#u7345 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7346 {
  position:absolute;
  left:16px;
  top:88px;
  width:14px;
  height:14px;
}
#u7347 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u7348 {
  position:absolute;
  left:34px;
  top:85px;
  width:242px;
  height:22px;
  color:#BABABA;
}
#u7349 {
  position:absolute;
  left:2px;
  top:2px;
  width:238px;
  white-space:nowrap;
}
