body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u231 {
  position:absolute;
  left:495px;
  top:0px;
  width:375px;
  height:667px;
}
#u232 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u234 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
}
#u235 {
  position:absolute;
  left:14px;
  top:698px;
  width:846px;
  height:56px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
}
#u236 {
  position:absolute;
  left:8px;
  top:4px;
  width:838px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:10px;
  top:600px;
  width:360px;
  height:67px;
  overflow:hidden;
}
#u237_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u237_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238 {
  position:absolute;
  left:504px;
  top:600px;
  width:360px;
  height:67px;
  overflow:hidden;
}
#u238_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u238_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u239 {
  position:absolute;
  left:8px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u239_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u239_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u240 {
  position:absolute;
  left:504px;
  top:60px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u240_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u240_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
