body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u739 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:2px;
  top:62px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u740_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u740_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
