body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u578 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u579 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  position:absolute;
  left:17px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u580_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u580_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u581 {
  position:absolute;
  left:90px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u581_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u581_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u582 {
  position:absolute;
  left:170px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u582_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u582_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u583 {
  position:absolute;
  left:243px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u583_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u583_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u584 {
  position:absolute;
  left:317px;
  top:627px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u584_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u584_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u585 {
  position:absolute;
  left:317px;
  top:138px;
  width:43px;
  height:40px;
  overflow:hidden;
}
#u585_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u585_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u586 {
  position:absolute;
  left:317px;
  top:265px;
  width:43px;
  height:40px;
  overflow:hidden;
}
#u586_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u586_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u587 {
  position:absolute;
  left:317px;
  top:390px;
  width:43px;
  height:40px;
  overflow:hidden;
}
#u587_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u587_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u588 {
  position:absolute;
  left:318px;
  top:516px;
  width:43px;
  height:40px;
  overflow:hidden;
}
#u588_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u588_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
